ul {
    display: flex;
    padding: 20px;
    background-color: #3F51B5;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
        margin-left: 1rem;
        padding: 10px;
        transition: 200ms;
        border-radius: 5px;

        &:hover {
            background-color: #34428f;
        }
    }
}

@media only screen and (max-width: 300px) {
    ul {
        padding: 12px;

        a {
            margin-left: 0.2rem !important;
            padding: 5px;
        }
    }
}