.content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 56px);
  width: 100%;

  .table-container {
    height: 80vh;
    width: 80%;

    .empty-message {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .button-container {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1em 0;

      .filter {
        width: 50%;
      }

      button {
        margin-left: auto;
      }
    }

    table {
      width: 100%;

      th {
        padding: 2.1em;
      }

      td {
        padding: 0.9em 1.8em;
        transition: 200ms;
      }

      .icon-link {
        cursor: pointer;
        transition: 200ms;

        &:hover {
          color: #8e8e8e;
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .table-container {
    td {
      padding: 0.9em 1em !important;
    }

    th {
      padding: 1.9em 1em !important;
    }
  }
}

:host::ng-deep {
  @media only screen and (max-width: 590px) {
    .table-container {
      thead {
        display: none;
      }

      td {
        padding: 0.9em 1em !important;
      }

      th {
        padding: 1.9em 1em !important;
      }
    }
  }
}
